@media (min-width: 650px) {
  .footer .column {
    width: 100%;
    max-width: 50%;
  }
  .footer-form {
    max-width: 40%;
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
  .header .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    padding: 0;
    background-color: transparent;
  }
  .footer .column {
    width: initial;
    max-width: 20%;
  }
  .footer .copy {
    margin-bottom: 0;
  }
}

/* @media (min-width: 425px) and (max-width: 650px) {
} */
