// @import url(./our-work.scss);

// @import url(variables);

.our-work {
  padding-top: 115px;
  padding-bottom: 100px;
  .wrapper {
    display: grid;
    gap: 16px;

    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .card {
    aspect-ratio: 1/1.04;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-1 {
      background: #00000050 url('../images/card_1.jpg') no-repeat center/cover;
    }
    &-2 {
      background: #00000050 url('../images/card_2.jpg') no-repeat center/cover;
    }
    &-3 {
      background: #00000050 url('../images/card_3.jpg') no-repeat center/cover;
    }
    &-4 {
      background: #00000050 url('../images/card_4.jpg') no-repeat center/cover;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__description {
      margin-bottom: 20px;
      line-height: 16px;
      @media (min-width: 700px) {
        line-height: 20px;
      }
    }
    &__link {
      max-width: max-content;
    }
  }
  // .video {
  //   height: 500px;
  // }
}

.sunset {
  display: flex;
  align-items: center;
  // min-height: 600px;
  aspect-ratio: 2.4/1;
  background: url('../images/mountains_params.jpg') no-repeat center/cover;
  .wrapper {
    max-width: 300px;
    margin-left: auto;
  }
}

.tools {
  .wrapper {
    position: relative;
    z-index: 1;
    @media (min-width: 700px) {
      > * {
        width: 50%;
      }
    }
    .text {
      padding: 50px 1rem;
      @media (min-width: 700px) {
        padding: 1rem;
      }
      @media (min-width: 1200px) {
        padding: 100px;
      }
      .title {
        font-size: 28px;
        line-height: 1.14;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
      .description {
        margin-bottom: 20px;
      }
    }
    .photo {
      position: absolute;
      z-index: -1;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (min-width: 700px) {
        position: static;
        width: 50%;
        height: initial;
      }
    }
  }
}
