@import url('./_variables.scss');

.our-work {
  .wrapper {
    display: grid;
    gap: 1rem;

    @media (min-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .card {
    aspect-ratio: 1.04/1;
  }
  .video {
    height: 500px;
  }
}
